@import url('reset.css');

body{
	font-family: Roboto;
	line-height: 1.6;
	font-size: 15px;
	background-color: #ccc;
}

.wrapper{
	width: 1300px;
	margin: 0 auto;
}

header{
	overflow: hidden;
}

/*------------ Header left (logo) -------------*/

.left{
    width: 300px;
    height: 600px;
    background-color: #333;
    padding-top: 50px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.left p{
    color: white;
    font-size: 18px;
    writing-mode: vertical-lr;
    margin: 0 auto;
    margin-bottom: 30px;
}

.left span{
    display: block;
    width: 1px;
    height: 100px;
    background-color: white;
    margin: 0 auto 30px auto;
}

/*------------ Header right -------------*/

.right{
    width: 1000px;
    height: 600px;
    background-image: url(https://img.onl/mInKRQ);
    float: right;
}

.right ul{
    float: right;
    padding:50px 50px 0 0;
}
.right li{
    float: left;
    margin-right: 20px;
}
.right li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-top:2px solid transparent;
    line-height: 50px;
}

.right li a:hover{
    border-top:2px solid #fff ;
}

.right-text{
    clear: both;
    padding-top: 100px;
	padding-left: 50px;
	color: white;
}

.right-text h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.right-text p{
    margin-bottom: 20px;
    margin-right: 500px;
}

.right-text a{
    background-color: #e0ab5b;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 150px;
    line-height: 50px;
    
}

/*------------ About -------------*/

.about{
    background-color: #222;
    background-image: url(../img/about_bg.png);
    height: 600px;
    padding: 50px 0;
    /* box-sizing: border-box; */
}
.about h1{
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}

.about h1 span{
    color: #e0ab5b
}

.about img{
    float:left;
    margin-left: 100px;
}

.about-text{
    float: right;
    width: 500px;
    margin-right: 100px;
    color: white;
    margin-top: 50px;
}

.about-text h2{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

/*------------ Project -------------*/

.project{
    background-color: #222;
    padding: 50px 0 0 0;
    box-sizing: border-box;
}

.project h1{
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;

}

.project span{
	color: #e0ab5b;
}

.project ul{
	overflow: hidden;
}

.project li{
	float: left;
	width: 325px;
	height: 470px;
	cursor: pointer;
}

/* .project .prj1{ background-image: url(../img/img1_mask.png); }
.project .prj2{ background-image: url(../img/img2_mask.png); }
.project .prj3{ background-image: url(../img/img3_mask.png); }
.project .prj4{ background-image: url(../img/img4_mask.png); }

.project .prj1:hover{ background-image: url(../img/img1.png); }
.project .prj2:hover{ background-image: url(../img/img2.png); }
.project .prj3:hover{ background-image: url(../img/img3.png); }
.project .prj4:hover{ background-image: url(../img/img4.png); } */

.project .prj1{ background-image: url(https://img.onl/HNsvmg); }
.project .prj2{ background-image: url(https://img.onl/pescwe); }
.project .prj3{ background-image: url(https://img.onl/y2pHl); }
.project .prj4{ background-image: url(https://img.onl/0CJSa1); }

.project .prj1:hover{ background-image: url(https://img.onl/oCz1dT); }
.project .prj2:hover{ background-image: url(https://img.onl/PHEkfa); }
.project .prj3:hover{ background-image: url(https://img.onl/dIziyc); }
.project .prj4:hover{ background-image: url(https://img.onl/7Iy7yH); }

.project h2{
    color: #fff;
    font-size: 18px;
    padding: 30px 0 0 30px;
}

/*------------ Touch -------------*/

.touch{
    background-color: #222;
    padding: 50px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.touch h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.touch span{
    color: wheat;
}

.touch .address{
    float: left;
    margin-left: 100px;
    color: white;
    margin-right: 100px;
    line-height: 2;
}
.touch .form{
    float: left;
    width: 540px;
}

.touch .form li{
    float: left;
    width: 250px;
    margin:0 10px 20px 10px;
}

.touch .form input{
    width: 250px;
    height: 50px;
    background-color: #545454;
    border: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

.touch textarea{
    float: right;
    width: 250px;
    height: 80px;
    margin-right: 100px;
    background-color: #545454;
    padding: 20px;
    border: 0;
}